@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #13005A;
    margin-top: 8%;
}
.contenedor {
    display: flex;
    text-align: center;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width: 20%;
    min-height: 20%; 
    display:flex;
    justify-content: center;
}
button {
    width: 20%;
    height: 20%;
    margin-top: 0px;
    background-color: #54B435;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}
.content-box {
    width: 600px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0%;
}
